.projects {
    display: grid;
    text-align: center;
    gap: 20px;
    margin-bottom: 30px;
}


.projects section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}